<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2768a">  <td>21/04/04 12:18:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomer(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.gs.ddf.testcases.AddCustomerTest@3eeb318f]">addCustomer</td> 
  <td>main@1659286984</td>   <td></td> </tr>
<tr bgcolor="a2768a">  <td>21/04/04 12:18:09</td>   <td>7716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomer(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.gs.ddf.testcases.AddCustomerTest@3eeb318f]">addCustomer</td> 
  <td>main@1659286984</td>   <td></td> </tr>
<tr bgcolor="a2768a">  <td>21/04/04 12:18:16</td>   <td>15191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomer(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.gs.ddf.testcases.AddCustomerTest@3eeb318f]">addCustomer</td> 
  <td>main@1659286984</td>   <td></td> </tr>
<tr bgcolor="a2768a">  <td>21/04/04 12:18:24</td>   <td>22590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddCustomerTest.addCustomer(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.gs.ddf.testcases.AddCustomerTest@3eeb318f]">addCustomer</td> 
  <td>main@1659286984</td>   <td></td> </tr>
<tr bgcolor="997e9d">  <td>21/04/04 12:17:57</td>   <td>-3724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsBankBanager()[pri:0, instance:com.gs.ddf.testcases.LoginTest@765f05af]">loginAsBankBanager</td> 
  <td>main@1659286984</td>   <td></td> </tr>
<tr bgcolor="a19da4">  <td>21/04/04 12:17:50</td>   <td>-11389</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.gs.ddf.testcases.AddCustomerTest@3eeb318f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1659286984</td>   <td></td> </tr>
<tr bgcolor="a19da4">  <td>21/04/04 12:18:31</td>   <td>30024</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.gs.ddf.testcases.AddCustomerTest@3eeb318f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1659286984</td>   <td></td> </tr>
</table>
